manifest {
    name            = 'nf-training/dna-fastq-preprocess'
    author          = 'Training scaffold'
    description     = 'Small nf-core-style DNA FASTQ preprocessing workflow for learning Nextflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.0'
    version         = '0.1.0'
}

params {
    input          = 'data/samplesheet.csv'
    fasta          = 'data/reference/MN908947.3.fasta'
    outdir         = 'results'
    multiqc_title  = 'DNA FASTQ preprocessing training run'
}

workflow.output.mode = 'copy'
includeConfig 'conf/base.config'

profiles {
    test {
        includeConfig 'conf/test.config'
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

    conda {
        conda.enabled = true
    }
}

outputDir = params.outdir

lineage {
    enabled = true
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

process {
    errorStrategy = 'terminate'
    maxRetries    = 1
}
