process {
    executor = 'local'

    withLabel:process_single {
        cpus   = 1
        memory = '1 GB'
        time   = '30m'
    }

    withLabel:process_low {
        cpus   = 2
        memory = '2 GB'
        time   = '1h'
    }

    withName:FASTQC_RAW {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        conda     = 'bioconda::fastqc=0.12.1'
    }

    withName:FASTQC_TRIMMED {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        conda     = 'bioconda::fastqc=0.12.1'
    }

    withName:FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
        conda     = 'bioconda::fastp=0.23.4'
    }

    withName:BWA_INDEX {
        container = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1'
        conda     = 'bioconda::bwa=0.7.18'
    }

    withName:BWA_MEM {
        container = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1'
        conda     = 'bioconda::bwa=0.7.18'
    }

    withName:SAMTOOLS_SORT {
        container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
        conda     = 'bioconda::samtools=1.21'
    }

    withName:SAMTOOLS_FAIDX {
        container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
        conda     = 'bioconda::samtools=1.21'
    }

    withName:SAMTOOLS_FLAGSTAT {
        container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
        conda     = 'bioconda::samtools=1.21'
    }

    withName:BCFTOOLS_CALL {
        container = 'quay.io/biocontainers/bcftools:1.21--h8b25389_0'
        conda     = 'bioconda::bcftools=1.21'
    }

    withName:FREEBAYES_CALL {
        container = 'quay.io/biocontainers/freebayes:1.3.8--h6a68c12_2'
        conda     = 'bioconda::freebayes=1.3.8'
    }

    withName:VARIANT_COMPARE {
        container = 'quay.io/biocontainers/multiqc:1.25--pyhdfd78af_0'
        conda     = 'bioconda::multiqc=1.25'
    }

    withName:VARIANT_MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.25--pyhdfd78af_0'
        conda     = 'bioconda::multiqc=1.25'
    }

    withName:MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.25--pyhdfd78af_0'
        conda     = 'bioconda::multiqc=1.25'
    }
}
